<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs") %>
        <title>Product Details</title>

        <style>
            div {
                margin: 0 auto;
                width: 50%;
                border: 3px solid #f1f1f1;
                padding: 10px;
            }

            label {
                font-weight: bold;
            }

            input[type=text],
            input[type=number] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
            }
        </style>
</head>

<body>
    <header>

        <%- include("./partials/navbar") %>
    </header>

    <div>
        <label>Product Name: <%= product.name %>
        </label>
        <br />

        <label>Price: <%= product.price %>
        </label>
        <br />

        <label>Quantity: <%= product.qty %>
        </label>
        <br />

        <label>Manufacturer: <%= product.manufacturer %>
        </label>

    </div>

</body>

</html>